.index-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow: auto;

  .index-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    min-height: 5%;
    background-color: #f6f8fa;
  }

  .index-menu {
    display: flex;
    min-width: 20%;
    background-color: #f6f8fa;
  }

  .index-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: auto;
  }

  .index-footer {
    position: static;
    text-align: center;
    bottom: 0;
    width: 100%;
  }

  .index-title {
    margin-top: 1vh;
    font-size: 70px;
    font-weight: bold;
    line-height: 2;
  }

  .index-description {
    font-size: 16px;
    line-height: 2;
    max-width: 50%;
    text-align: center;
  }

  .index-start-button {
    margin-top: 5vh;
    background-color: var(--primary);
    color: white;
    min-height: 6%;
    min-width: 10%;
    font-size: 16px;
  }

  .index-image-cover {
    max-width: 70%;
    height: auto;
  }
}